.char-details {
    background-color: #fff;
    padding: 25px 25px 15px 25px;
    margin-bottom: 40px;
}

.char-details h4 {
    margin-bottom: 20px;
    text-align: center;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.select-error {
    color: #3e094c;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    animation: blinker 2s linear infinite;
}